body {
    background-color: rgb(37, 37, 37);
    margin: auto;
}

hr {
    background-color: rgb(119, 119, 119);
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 1px;
}

a {
    color:lightcyan;
}

.container {
    background-color: rgb(44, 44, 44);
    width: 80%;
    margin: auto;
    border:1px solid rgb(184, 223, 255);
    border-radius:15px;
    padding: 0px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: auto;
}

.date {
    color: gray;
    font-style: italic;
    font-size: 12px;
}

.flexbox {
    display: flex;
    margin-bottom: 0px
}